@import "tailwindcss";

@theme {
  --color-stat-black: #000000;
  --color-stat-white: #FFFFFF;
  --color-stat-grey: #565656;
  --color-stat-light-grey: #DDDDDD;
  --color-stat-bg: #F8F8F8;
  --color-stat-error: #DC1919;
  --color-stat-warning: #FCC73B;
  --color-stat-info: #0F4FEF;
  --color-stat-success: #4DC14D;
  --color-stat-focus: #9A82DB;
  --color-stat-chart-1: #3F1A84;
  --color-stat-chart-2: #F58FA9;
  --color-stat-chart-3: #FFBC45;
  --color-stat-chart-4: #3AD8CC;
  --color-stat-chart-5: #0F4FEF;
}

body {
  margin: 0;
  background-color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  color: black;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  line-height: 2.8125rem;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  font-weight: 700;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 700;
}

/* Display */
.display {
  font-family: 'Roboto', sans-serif;
  font-size: 3.75rem;
  line-height: 4.375rem;
  font-weight: 700;
}

/* Headline */
.headline-large {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
}

.headline-medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.headline-small {
  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem;
  line-height: 1.625rem;
  font-weight: 700;
}

/* Title */
.title-large {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.title-medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
}

.title-small {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

/* Body */
.body-large {
  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem;
  line-height: 1.625rem;
  font-weight: 400;
}

.body-medium {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.body-small {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.body-1-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.body-1-regular {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.body-2-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
}

.body-2-regular {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
}

/* Label */
.label-large {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.label-medium {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.label-medium-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 700;
}

.label-small {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

.bg-dots {
  background-image: radial-gradient(circle at 0.85px 0.85px, #c0bebe 1px, transparent 0);  
  background-size: 19px 19px;
  background-position: 14px 14px;
}